@import url('https://fonts.googleapis.com/css2?family=Anek+Malayalam&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap');

nav{
    background:#fff;
    width:max-content;
    display: block;
    padding: 0.7rem 1.7rem;
    z-index: 2;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2rem;
    display: flex;
    gap: 0.8rem;
    border-radius: 3rem;
    backdrop-filter: blur(15px);
    transition: 30ms ease-in-out;
}

nav a{
    background: transparent;
    padding: 1rem 1.5rem ;
    border-radius: 30px;
    display: flex;
    color:#000000;
    font-size: 1.1rem;
    transition: 0.5s ease-in-out;
}

nav a:hover{
    background: rgba(0,0,0,0.3);
}

nav a.active{
    background: #000000;
    color: #ffffff;
}
 nav p{
    margin-left: 10px;
    font-size: 20px;
    color: #ffffff;
    display: none;
    font-family: "Roboto Slab", sans-serif;
    font-optical-sizing: 0;
    font-weight: 340;
    font-style: normal;
    transition: 3ms ease-in-out;
 }

 nav a.active p{
    display: block;
    transition: all 3ms ease-in-out;
 }
 nav .icon{
    margin-top: 4px;
 }