/* Start Global Rules */
.nav {
    .container {
        min-width: 10%;
          width: 25%;
          height: 10%;
          background-color: #fff;
          border-radius: 25px;
        bottom: 3%;
        position:fixed;
        left: 37.5%;
        right: auto;
            margin: 0;
            padding: 0;
    
        }
        .container ul {
            width: 100%;
            height: 100%;
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .container ul li {
            display: inline-flex;
            align-items: center;
            overflow: hidden;
            justify-content: center;
            cursor: pointer;
            text-align: center;
            padding: 15px 5px;
            margin: 15px;
            margin-right: 7.5px;
            margin-left: 7.5px;
            border-radius: 40px;
            font-family: 'Roboto Mono', monospace;
            font-family: 'Varela Round', sans-serif;
            transition: all 0.4s ease-in-out;
        }
        .container ul li i {
            color: transparent;
            -webkit-text-stroke-width: 1.5px;
            -webkit-text-stroke-color: #000;
        }
        .container ul li p {
            opacity: 0;
            transition: all 0.4s ease-in-out;
            font-size: 14px;
            margin-left: 10px;
        }
        .active {
            padding-left: 25px !important;
            padding-right: 25px !important;
        }
        .active p {
            opacity: 1 !important;
        }
        .home {
            background-color: hsla(256, 54%, 47%, 0.2);
        }
        .home i {
            -webkit-text-stroke-color: hsl(256, 54%, 47%) !important;
        }
        .home p {
            color: hsl(256, 54%, 47%);
        }
        .article {
            background-color: hsla(256, 54%, 47%, 0.2);
        }
        .article i {
            -webkit-text-stroke-color: hsl(256, 54%, 47%) !important;
        }
        .article p {
            color: hsl(256, 54%, 47%) !important;
        }
        .search {
            background-color: hsla(256, 54%, 47%, 0.2);
        }
        .search i {
        -webkit-text-stroke-color: hsl(256, 54%, 47%) !important;
        }
        .search p {
        color: hsl(256, 54%, 47%) !important;
        }
        .user {
            background-color: hsla(256, 54%, 47%, 0.2);
        }
        .user i {
            -webkit-text-stroke-color: hsl(256, 54%, 47%) !important;
        }
        .user p {
        color: hsl(256, 54%, 47%) !important;
        }
        
        @keyframes movingBack {
            from {
                transform: translate(-200%, 0);
            }
            to {
                transform: translate(0, 0);
            }
        }
        @keyframes changeBack {
            to {
                background-position: -200% center;
            }
        }
        
    }